<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<form method="post">
    <div class="form-group">
        <input type="hidden" th:field="${eventTag.event}" />
        <select th:field="${eventTag.tag}">
            <option th:each="tag : ${tags}"
                    th:value="${tag.id}"
                    th:text="${tag.getDisplayName()}"
            ></option>
        </select>
    </div>
    <input type="submit" value="Add Tag" class="btn btn-success"/>
</form>

</body>
</html>