<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding events</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
    <nav th:fragment="navigation">
        <h1 th:text="${title}">Coding Events</h1>
        <ul class="nav">
            <li class="nav-item"><a href="/events" class="nav-link">All Events</a></li>
            <li class="nav-item"><a href="/events/create" class="nav-link">Create Event</a></li>
            <li class="nav-item"><a href="/events/delete" class="nav-link">Delete Events</a></li>
            <li class="nav-item"><a href="/eventCategories" class="nav-link">All Categories</a></li>
            <li class="nav-item"><a href="/eventCategories/create" class="nav-link">Create Category</a></li>
        </ul>
    </nav>
</body>
</html>