<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
    </tr>
    </thead>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td><a th:text="${category.name}" th:href="'/events?categoryId=' + ${category.id}"></a></td>
    </tr>
</table>

</body>
</html>